.cache
.github
.husky
.vscode
node_modules
commitlintrc.json
.dockerignore
.editorconfig
.gitattributes
.npmrc
Dockerfile*
docker-compose*
LICENSE

**/eslint.config.*
**/.prettier*
**/.gitignore
**/*.md
**/.env*

# mtcute
client.session*

packages/bot
!packages/bot/package.json
